body{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#input{
    margin-bottom: 30px;
    text-align: center;
}


